/* ======== responsive css ======== */
/* ========================= device (xs 0 > 576) ========================= */
@media (max-width: 575.98px) {
  /* === navbar === */
  #nav {
    padding: 15px 0;
  }
  /* === navbar === */
  /* === banner === */
  #banner {
    padding-top: 180px;
    padding-bottom: 130px;
  }
  .banner_wrapper > h1 {
    font-size: 32px;
  }
  .banner_wrapper > h3 {
    font-size: 24px;
    padding: 14px 0;
  }
  /* === banner === */
  /* === service === */
  .service_item_wrapper {
    padding-bottom: 45px;
}
  .service_wrapper > h3 {
    padding-top: 50px;
    line-height: 1.3;
  }
  .service_wrapper > p {
    padding-bottom: 40px;
    line-height: 1.4;
  }
  .service_item {
    width: 280px;
    
  }
  .service_item_img {
    height: 190px;
}
  .service_item>p {
    line-height: 1.5;
}
  /* === service === */
  /* === portfolio === */
  .portfolio_wrapper>h2::before{
    display: none;
  }
  .portfolio_wrapper>h2::after{
    display: none;
  }
  .portfolio_item{
    width: 100%;
  }
  /* === portfolio === */
  /* === journal === */
  .journal_item_wrapper{
    align-items: center;
  }
  .journal_section_heading::after{
    display: none;
  }
  .journal_section_heading::before{
    display: none;
  }
  .journal_item{
    width: 300px;
  }
  
  /* === journal === */
}
/* ========================= device (xs 0 > 576) ========================= */

/* ========================= device (sm 576 > 768) ========================= */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* === navbar === */
  #nav {
    padding: 20px 0;
  }
  /* === navbar === */
  /* === banner === */
  #banner {
    padding-top: 210px;
    padding-bottom: 180px;
  }
  .banner_wrapper > h1 {
    font-size: 38px;
  }
  .banner_wrapper > h3 {
    font-size: 28px;
    padding: 18px 0;
  }
  /* === banner === */
  /* === portfolio === */
  .portfolio_item{
    width: 50%;
  }
  /* === portfolio === */
  
}
/* ========================= device (sm 576 > 768) ========================= */

/* ========================= device (md 768 > 992) ========================= */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* === navbar === */
  #nav {
    padding: 20px 0;
  }
  /* === navbar === */
  /* === service === */
  
  .service_item {
    width: 280px;
  }
  .service_item_img {
    height: 190px;
}
  .service_item_wrapper {
    gap: 20px;
  }
  /* === service === */
}
/* ========================= device (md 768 > 992) ========================= */

/* ========================= device (lg 992 > 1200) ========================= */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* === navbar === */
  .navbar-nav {
    column-gap: 20px;
  }
  /* === navbar === */
  /* === service === */
  
  .service_item {
    width: 280px;
  }
  .service_item_img {
    height: 190px;
}
  .service_item_wrapper {
    justify-content: center;
    gap: 20px;
  }
  /* === service === */
}
/* ========================= device (lg 992 > 1200) ========================= */

/* ========================= device (xl 1200 > 1400) ========================= */
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* ========================= device (xl 1200 > 1400) ========================= */
/* ========================= device (xxl 1400 >>) ========================= */
@media (min-width: 1400px) {
}
/* ========================= device (xxl 1400 >>) ========================= */
/* ======== responsive css ======== */

/* ===== design by AJOY SAHA ===== */
